
.cube, .cube > div{
  transition-duration: 3s;
  transition-property: width, height, transform;
}



.cube > div{
  opacity: 1;
  overflow: hidden;
  font-size: 30px;
}
.cube_front{
  background-color: rgb(0, 204, 255);
}
.cube_back{
  background-color: rgba(134, 18, 155);
}
.cube_left{
  background-color: rgb(46, 124, 160);
}
.cube_right{
  background-color: rgb(185, 214, 22);
}
.cube_top{
  background-color: rgb(177, 11, 108);
}
.cube_bottom{
  background-color: rgb(217, 255, 0);
}